<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="style/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/jq.js"></script>
</head>

<body>
<div class="top">
    <div class="logo"><a href="#"><img src="images/logo.gif" width="80" height="110" /></a></div>
    <div class="topright">
         <div class="login"><span class="denglu">登入電郵<input type="text" /></span><span class="mima">密碼<input type="text" /></span><a href="#" class="deng"></a><a href="#" class="ji"></a><span class="bo"><a href="#"><img src="images/f.gif" width="20" height="22" /></a><a href="#"><img src="images/x.gif" width="20" height="22" /></a><a href="#"><img src="images/s.gif" width="20" height="22" /></a></span></div>
         <div class="fack">
             <span class="good"></span>
             <span class="fac">838,219人說這讚。</span>
             <span class="luo"><a href="#">優惠通勝</a><a href="#">列印</a></span>
             <span class="search"><input type="text" /><a href="#"></a></span>
         </div>
    </div>
</div>
<div class="nav"> 
     <ul class="navul">
           <li class="xuan"><a href="#">主  頁</a></li>
           <li><a href="#">婚  宴</a></li>
           <li><a href="#">佳  餚</a></li>
           <li><a href="#">宴  會</a></li>
           <li><a href="#">推廣及活動</a></li>
           <li><a href="#">獎  項</a></li>
           <li><a href="#">會員專區</a></li>
           <li><a href="#">會員分享</a></li>
           <li><a href="#">聯絡我們</a></li>
     </ul>
</div>
<div class="main clearfix">
     <div class="left">
          <div class="lefttop"><img src="images/left.gif" width="200" height="70" /></div>
          <ul class="sub">
               <li class="subxuan"><a href="#">簡介</a></li>
               <li><a href="#">最新優惠</a></li>
               <li><a href="#">場地實景</a></li>
               <li><a href="#">場地圖則 </a></li>
               <li><a href="#">會議設備</a></li>
               <li><a href="#">會議及宴會套餐</a></li>
               <li><a href="#">宴會策劃</a></li>
               <li><a href="#">場地位置</a></li>
          </ul>
          <div class="ye">
              <p>營業時間:</p>
              <p>早上10時至晚上11時</p>
              <p>電話：8202 1238</p>
          </div>
     </div>
     <div class="right">
          <ul class="menu">
               <li><a href="#">九龍半山</a></li>
               <li>·<a href="#">九龍東</a></li>
               <li>·<a href="#">大舞臺</a></li>
               <li class="menuxuan">·<a href="#">銀灘</a></li>
               <li>·<a href="#">博藝會</a></li>
               <li>·<a href="#">德藝會</a></li>
          </ul>
          <div class="jiepic"><img src="images/006.jpg" width="350" height="410" /></div>
          <div class="jiecon">
               <div class="jicon">
                   <p>提供多元化的宴會廳及貴賓房，適合各類型宴會活動，包括商務會議、記者招待會、產品發佈會及公司宴會等。卓越活動策劃團隊以多年宴會經驗和智慧，配合完善影音設備及靈活場地佈置，在我們的悉心安排下，定能讓您有一個超凡的會議體驗。</p>
               </div>
               <div class="jicon">
                   <p>專業服務</p>
                   <p>我們的專業會議統籌隊伍致力為客戶策劃至臻完美的會議。我們知道每個會議活動也不盡相同。除了留意每個細節，我們憑藉豐富經驗、專業的服務態度、特色的佳餚美饌、靈活的會議場地及完善的會議設施，定必能為您妥善統籌公司活動。</p>
               </div>
               <div class="jicon">
                   <p>會議場地</p>
                   <p>多間會議場地位處於香港及九龍中心地段，位置優越，交通便利，是商務活動地的首選。多個寬敞的會議廳能充分配合不同規模的活動所需，可招待多達600人的大型宴會。在靈活的配套設施及安排下為您締造精彩的會議盛況。</p>
               </div> 
               <div class="jicon">   
                   <p>備有數十間多功能的活動室，無論是圓桌式，劇院式、班房式或U型的會議設置，我們能為你的活動度身訂造出合適的設計、使你輕易速成目標。</p>
               </div>
          </div>
     </div>
</div>
<div class="footer">
    <div class="maptop clickmap"><span>網站地圖</span></div>
    <div class="map clearfix">
         <dl class="mapdl clearfix">
            <dt>主頁</dt>
            <dd><a href="#">簡介</a></dd>
            <dd><a href="#">集團獎項</a></dd>
            <dd><a href="#">新聞稿</a></dd>
            <dd><a href="#">傳媒查詢</a></dd>
            <dd><a href="#">報導</a></dd>
            <dd><a href="#">社會責任</a></dd>
            <dd><a href="#">合作伙伴</a></dd>
         </dl>
         <dl class="mapdl clearfix">
            <dt>婚宴</dt>
            <dd><a href="#">簡介</a></dd>
            <dd><a href="#">場地實景</a></dd>
            <dd><a href="#">實景短片</a></dd>
            <dd><a href="#">場地圖則</a></dd>
            <dd><a href="#">婚宴套餐</a></dd>
            <dd><a href="#">証婚酒會套餐</a></dd>
            <dd><a href="#">自助西式套餐</a></dd>
            <dd><a href="#">場地位置</a></dd>
            <dd><a href="#">個人化服務</a></dd>
            <dd><a href="#">- 主題婚禮</a></dd>
            <dd><a href="#">- 雞尾酒會</a></dd>
            <dd><a href="#">- 婚禮策劃師簡介</a></dd>
            <dd><a href="#">- 婚禮策劃服務</a></dd>
            <dd><a href="#">最新消息</a></dd>
            <dd><a href="#">優惠通勝</a></dd>
            <dd><a href="#">星級禮遇</a></dd>
            <dd><a href="#">聯絡我們</a></dd>
         </dl>
         <dl class="mapdl clearfix">
            <dt>佳餚</dt>
            <dd><a href="#">簡介</a></dd>
            <dd><a href="#">獎項</a></dd>
            <dd><a href="#">廚司推介</a></dd>
            <dd><a href="#">場地實景</a></dd>
            <dd><a href="#">會員禮遇</a></dd>
            <dd><a href="#">大廚介紹</a></dd>
            <dd><a href="#">最新優惠</a></dd>
            <dd><a href="#">場地位置</a></dd>
         </dl>
         <dl class="mapdl clearfix">
            <dt>宴會</dt>
            <dd><a href="#">簡介</a></dd>
            <dd><a href="#">最新優惠</a></dd>
            <dd><a href="#">場地實景</a></dd>
            <dd><a href="#">場地圖則</a></dd>
            <dd><a href="#">會議設備</a></dd>
            <dd><a href="#">會議及宴會套餐</a></dd>
            <dd><a href="#">宴會策劃</a></dd>
            <dd><a href="#">場地位置</a></dd>
         </dl>
         <dl class="mapdl clearfix">
            <dt>推廣及活動</dt>
            <dd><a href="#">最新消息</a></dd>
            <dd><a href="#">最新優惠</a></dd>
            <dd><a href="#">活動回顧</a></dd>
            <br /><br /><br />
            <dt>優惠通勝</dt>
            <dd><a href="#">星級禮遇</a></dd>
         </dl>
         <dl class="mapdl clearfix">
            <dt>會員系統</dt>
            <dd><a href="#">登入</a></dd>
            <dd><a href="#">最新優惠</a></dd>
            <dd><a href="#">會員報名表</a></dd>
            <dd><a href="#">會員每月優惠</a></dd>
            <dd><a href="#">會員活動</a></dd>
            <dd><a href="#">廚商優惠</a></dd>
            <dd><a href="#">會員資訊分享</a></dd>
            <br /><br /><br />
            <dt>聯絡我們</dt>
            <dd><a href="#">客戶意見</a></dd>
         </dl>

    </div>
    <div class="bottom">
        <span class="tel"></span>
        <div class="bologo"></div>
        <div class="banquan">
             <p><a href="#">手機版網頁</a><a href="#">使用條款</a><a href="#">聯絡我們</a></p>
             <p>Copyright © 2013. ClueOne All Rights Reserved</p>
        </div>
    </div>
</div>
</body>
</html>
