<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="style/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/jq.js"></script>
</head>

<body>
<div class="top">
    <div class="logo"><a href="#"><img src="images/logo.gif" width="80" height="110" /></a></div>
    <div class="topright">
         <div class="login"><span class="denglu">登入電郵<input type="text" /></span><span class="mima">密碼<input type="text" /></span><a href="#" class="deng"></a><a href="#" class="ji"></a><span class="bo"><a href="#"><img src="images/f.gif" width="20" height="22" /></a><a href="#"><img src="images/x.gif" width="20" height="22" /></a><a href="#"><img src="images/s.gif" width="20" height="22" /></a></span></div>
         <div class="fack">
             <span class="good"></span>
             <span class="fac">838,219人說這讚。</span>
             <span class="luo"><a href="#">優惠通勝</a><a href="#">列印</a></span>
             <span class="search"><input type="text" /><a href="#"></a></span>
         </div>
    </div>
</div>
<div class="nav"> 
     <ul class="navul">
           <li class="xuan"><a href="#">主  頁</a></li>
           <li><a href="#">婚  宴</a></li>
           <li><a href="#">佳  餚</a></li>
           <li><a href="#">宴  會</a></li>
           <li><a href="#">推廣及活動</a></li>
           <li><a href="#">獎  項</a></li>
           <li><a href="#">會員專區</a></li>
           <li><a href="#">會員分享</a></li>
           <li><a href="#">聯絡我們</a></li>
     </ul>
</div>
<div class="main clearfix">
     <div class="left">
          <ul class="sub">
               <li><a href="#">簡  介</a></li>
               <li class="subxuan"><a href="#">集團獎項</a></li>
               <li><a href="#">新聞稿</a></li>
               <li><a href="#">傳媒查詢</a></li>
               <li><a href="#">報  導</a></li>
               <li><a href="#">社會責任</a></li>
               <li><a href="#">合作伙伴</a></li>
          </ul>
     </div>
     <div class="medio">
          <div class="flow clearfix">
              <h1 class="chah1">集團獎項</h1>
              <div class="mu"><span>日期</span>榮譽項目</div>
              <div class="link linkxuan">
                   <div class="linktop clearfix">
                        <dl class="linkdl">
                             <dt>2012-07-09</dt>
                             <dd><a href="javascript:;" class="add"></a>新人至愛酒樓婚宴-港島西區</dd>
                        </dl>
                   </div>
                   <div class="linkcon clearfix">
                       <dl class="linkpic">
                             <dt><img src="images/012.jpg" width="75" height="50" /></dt>
                             <dd>具前瞻性的方向，結合優越的服務態度，令Club Wedding贏得「婚禮雜誌大獎2012」獎項。具前瞻性的方向，結合優越的服務態度，令Club Wedding贏得「婚禮雜誌大獎2012」獎項。</dd>
                        </dl>
                   </div>
              </div>
              <div class="link">
                   <div class="linktop clearfix">
                        <dl class="linkdl">
                             <dt>2012-07-09</dt>
                             <dd><a href="javascript:;" class="add"></a>新人至愛酒樓婚宴-港島西區</dd>
                        </dl>
                   </div>
                   <div class="linkcon clearfix">
                       <dl class="linkpic">
                             <dt><img src="images/012.jpg" width="75" height="50" /></dt>
                             <dd>具前瞻性的方向，結合優越的服務態度，令Club Wedding贏得「婚禮雜誌大獎2012」獎項。具前瞻性的方向，結合優越的服務態度，令Club Wedding贏得「婚禮雜誌大獎2012」獎項。</dd>
                        </dl>
                   </div>
              </div>
              <div class="link">
                   <div class="linktop clearfix">
                        <dl class="linkdl">
                             <dt>2012-07-09</dt>
                             <dd><a href="javascript:;" class="add"></a>新人至愛酒樓婚宴-港島西區</dd>
                        </dl>
                   </div>
                   <div class="linkcon clearfix">
                       <dl class="linkpic">
                             <dt><img src="images/012.jpg" width="75" height="50" /></dt>
                             <dd>具前瞻性的方向，結合優越的服務態度，令Club Wedding贏得「婚禮雜誌大獎2012」獎項。具前瞻性的方向，結合優越的服務態度，令Club Wedding贏得「婚禮雜誌大獎2012」獎項。</dd>
                        </dl>
                   </div>
              </div>
              <div class="link">
                   <div class="linktop clearfix">
                        <dl class="linkdl">
                             <dt>2012-07-09</dt>
                             <dd><a href="javascript:;" class="add"></a>新人至愛酒樓婚宴-港島西區</dd>
                        </dl>
                   </div>
                   <div class="linkcon clearfix">
                       <dl class="linkpic">
                             <dt><img src="images/012.jpg" width="75" height="50" /></dt>
                             <dd>具前瞻性的方向，結合優越的服務態度，令Club Wedding贏得「婚禮雜誌大獎2012」獎項。具前瞻性的方向，結合優越的服務態度，令Club Wedding贏得「婚禮雜誌大獎2012」獎項。</dd>
                        </dl>
                   </div>
              </div>
              <div class="link">
                   <div class="linktop clearfix">
                        <dl class="linkdl">
                             <dt>2012-07-09</dt>
                             <dd><a href="javascript:;" class="add"></a>新人至愛酒樓婚宴-港島西區</dd>
                        </dl>
                   </div>
                   <div class="linkcon clearfix">
                       <dl class="linkpic">
                             <dt><img src="images/012.jpg" width="75" height="50" /></dt>
                             <dd>具前瞻性的方向，結合優越的服務態度，令Club Wedding贏得「婚禮雜誌大獎2012」獎項。具前瞻性的方向，結合優越的服務態度，令Club Wedding贏得「婚禮雜誌大獎2012」獎項。</dd>
                        </dl>
                   </div>
              </div>
              <div class="link">
                   <div class="linktop clearfix">
                        <dl class="linkdl">
                             <dt>2012-07-09</dt>
                             <dd><a href="javascript:;" class="add"></a>新人至愛酒樓婚宴-港島西區</dd>
                        </dl>
                   </div>
                   <div class="linkcon clearfix">
                       <dl class="linkpic">
                             <dt><img src="images/012.jpg" width="75" height="50" /></dt>
                             <dd>具前瞻性的方向，結合優越的服務態度，令Club Wedding贏得「婚禮雜誌大獎2012」獎項。具前瞻性的方向，結合優越的服務態度，令Club Wedding贏得「婚禮雜誌大獎2012」獎項。</dd>
                        </dl>
                   </div>
              </div>
              <div class="link">
                   <div class="linktop clearfix">
                        <dl class="linkdl">
                             <dt>2012-07-09</dt>
                             <dd><a href="javascript:;" class="add"></a>新人至愛酒樓婚宴-港島西區</dd>
                        </dl>
                   </div>
                   <div class="linkcon clearfix">
                       <dl class="linkpic">
                             <dt><img src="images/012.jpg" width="75" height="50" /></dt>
                             <dd>具前瞻性的方向，結合優越的服務態度，令Club Wedding贏得「婚禮雜誌大獎2012」獎項。具前瞻性的方向，結合優越的服務態度，令Club Wedding贏得「婚禮雜誌大獎2012」獎項。</dd>
                        </dl>
                   </div>
              </div>
              <div class="link">
                   <div class="linktop clearfix">
                        <dl class="linkdl">
                             <dt>2012-07-09</dt>
                             <dd><a href="javascript:;" class="add"></a>新人至愛酒樓婚宴-港島西區</dd>
                        </dl>
                   </div>
                   <div class="linkcon clearfix">
                       <dl class="linkpic">
                             <dt><img src="images/012.jpg" width="75" height="50" /></dt>
                             <dd>具前瞻性的方向，結合優越的服務態度，令Club Wedding贏得「婚禮雜誌大獎2012」獎項。具前瞻性的方向，結合優越的服務態度，令Club Wedding贏得「婚禮雜誌大獎2012」獎項。</dd>
                        </dl>
                   </div>
              </div>
         </div>
     </div>
</div>
<div class="footer">
    <div class="maptop clickmap"><span>網站地圖</span></div>
    <div class="map clearfix">
         <dl class="mapdl clearfix">
            <dt>主頁</dt>
            <dd><a href="#">簡介</a></dd>
            <dd><a href="#">集團獎項</a></dd>
            <dd><a href="#">新聞稿</a></dd>
            <dd><a href="#">傳媒查詢</a></dd>
            <dd><a href="#">報導</a></dd>
            <dd><a href="#">社會責任</a></dd>
            <dd><a href="#">合作伙伴</a></dd>
         </dl>
         <dl class="mapdl clearfix">
            <dt>婚宴</dt>
            <dd><a href="#">簡介</a></dd>
            <dd><a href="#">場地實景</a></dd>
            <dd><a href="#">實景短片</a></dd>
            <dd><a href="#">場地圖則</a></dd>
            <dd><a href="#">婚宴套餐</a></dd>
            <dd><a href="#">証婚酒會套餐</a></dd>
            <dd><a href="#">自助西式套餐</a></dd>
            <dd><a href="#">場地位置</a></dd>
            <dd><a href="#">個人化服務</a></dd>
            <dd><a href="#">- 主題婚禮</a></dd>
            <dd><a href="#">- 雞尾酒會</a></dd>
            <dd><a href="#">- 婚禮策劃師簡介</a></dd>
            <dd><a href="#">- 婚禮策劃服務</a></dd>
            <dd><a href="#">最新消息</a></dd>
            <dd><a href="#">優惠通勝</a></dd>
            <dd><a href="#">星級禮遇</a></dd>
            <dd><a href="#">聯絡我們</a></dd>
         </dl>
         <dl class="mapdl clearfix">
            <dt>佳餚</dt>
            <dd><a href="#">簡介</a></dd>
            <dd><a href="#">獎項</a></dd>
            <dd><a href="#">廚司推介</a></dd>
            <dd><a href="#">場地實景</a></dd>
            <dd><a href="#">會員禮遇</a></dd>
            <dd><a href="#">大廚介紹</a></dd>
            <dd><a href="#">最新優惠</a></dd>
            <dd><a href="#">場地位置</a></dd>
         </dl>
         <dl class="mapdl clearfix">
            <dt>宴會</dt>
            <dd><a href="#">簡介</a></dd>
            <dd><a href="#">最新優惠</a></dd>
            <dd><a href="#">場地實景</a></dd>
            <dd><a href="#">場地圖則</a></dd>
            <dd><a href="#">會議設備</a></dd>
            <dd><a href="#">會議及宴會套餐</a></dd>
            <dd><a href="#">宴會策劃</a></dd>
            <dd><a href="#">場地位置</a></dd>
         </dl>
         <dl class="mapdl clearfix">
            <dt>推廣及活動</dt>
            <dd><a href="#">最新消息</a></dd>
            <dd><a href="#">最新優惠</a></dd>
            <dd><a href="#">活動回顧</a></dd>
            <br /><br /><br />
            <dt>優惠通勝</dt>
            <dd><a href="#">星級禮遇</a></dd>
         </dl>
         <dl class="mapdl clearfix">
            <dt>會員系統</dt>
            <dd><a href="#">登入</a></dd>
            <dd><a href="#">最新優惠</a></dd>
            <dd><a href="#">會員報名表</a></dd>
            <dd><a href="#">會員每月優惠</a></dd>
            <dd><a href="#">會員活動</a></dd>
            <dd><a href="#">廚商優惠</a></dd>
            <dd><a href="#">會員資訊分享</a></dd>
            <br /><br /><br />
            <dt>聯絡我們</dt>
            <dd><a href="#">客戶意見</a></dd>
         </dl>

    </div>
    <div class="bottom">
        <span class="tel"></span>
        <div class="bologo"></div>
        <div class="banquan">
             <p><a href="#">手機版網頁</a><a href="#">使用條款</a><a href="#">聯絡我們</a></p>
             <p>Copyright © 2013. ClueOne All Rights Reserved</p>
        </div>
    </div>
</div>
</body>
</html>
