<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="style/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/jq.js"></script>
</head>

<body>
<div class="top">
    <div class="logo"><a href="#"><img src="images/logo.gif" width="80" height="110" /></a></div>
    <div class="topright">
         <div class="login"><span class="denglu">登入電郵<input type="text" /></span><span class="mima">密碼<input type="text" /></span><a href="#" class="deng"></a><a href="#" class="ji"></a><span class="bo"><a href="#"><img src="images/f.gif" width="20" height="22" /></a><a href="#"><img src="images/x.gif" width="20" height="22" /></a><a href="#"><img src="images/s.gif" width="20" height="22" /></a></span></div>
         <div class="fack">
             <span class="good"></span>
             <span class="fac">838,219人說這讚。</span>
             <span class="luo"><a href="#">優惠通勝</a><a href="#">列印</a></span>
             <span class="search"><input type="text" /><a href="#"></a></span>
         </div>
    </div>
</div>
<div class="nav"> 
     <ul class="navul">
           <li class="xuan"><a href="#">主  頁</a></li>
           <li><a href="#">婚  宴</a></li>
           <li><a href="#">佳  餚</a></li>
           <li><a href="#">宴  會</a></li>
           <li><a href="#">推廣及活動</a></li>
           <li><a href="#">獎  項</a></li>
           <li><a href="#">會員專區</a></li>
           <li><a href="#">會員分享</a></li>
           <li><a href="#">聯絡我們</a></li>
     </ul>
</div>
<div class="main clearfix">
     <div class="left">
          <div class="lefttop"><img src="images/left.gif" width="200" height="70" /></div>
          <ul class="sub">
               <li><a href="#">簡介</a></li>
               <li><a href="#">獎項</a></li>
               <li><a href="#">廚司推介</a></li>
               <li><a href="#">場地實景 </a></li>
               <li><a href="#">會員禮遇</a></li>
               <li class="subxuan"><a href="#">大廚介紹</a></li>
               <li><a href="#">最新優惠</a></li>
               <li><a href="#">場地位置</a></li>
          </ul>
          <div class="ye">
              <p>營業時間:</p>
              <p>早上10時至晚上11時</p>
              <p>電話：8202 1238</p>
          </div>
     </div>
     <div class="right">
          <ul class="menu">
               <li><a href="#">九龍半山</a></li>
               <li>·<a href="#">九龍東</a></li>
               <li>·<a href="#">大舞臺</a></li>
               <li class="menuxuan">·<a href="#">銀灘</a></li>
               <li>·<a href="#">博藝會</a></li>
               <li>·<a href="#">德藝會</a></li>
          </ul>
         <div class="medio">
             <div class="flow">
                   <dl class="flowdl clearfix">
                        <dt><img src="images/008.jpg" width="160" height="160" /></dt>
                        <dd>
                              <p class="fltitle">艾夫列·柏特利 Alfred Portale（美國，紐約）</p>
                              <p class="flcon">超越最嚴苛的美食評論家的期待，Alfred Portale集多項榮耀於一身。於1989年獲選入美國餐飲名人錄中，於1993年獲得紐約最佳主廚的名號，並稱之為「美國新美食界的先鋒」，Alfred Portale 持續開發令人一新耳目的菜色。在他主掌果膳（Gotham）餐廳的12年期間，該餐廳連續四年獲得紐約時報的三星評價。曾經是個珠寶設計師，這位多才多藝的藝術家將極致風格與技藝應用到食物上，以獨特方式闡釋美國新美食。</p>
                        </dd>
                   </dl>
                   <dl class="flowdl clearfix">
                        <dt><img src="images/008.jpg" width="160" height="160" /></dt>
                        <dd>
                              <p class="fltitle">艾夫列·柏特利 Alfred Portale（美國，紐約）</p>
                              <p class="flcon">超越最嚴苛的美食評論家的期待，Alfred Portale集多項榮耀於一身。於1989年獲選入美國餐飲名人錄中，於1993年獲得紐約最佳主廚的名號，並稱之為「美國新美食界的先鋒」，Alfred Portale 持續開發令人一新耳目的菜色。在他主掌果膳（Gotham）餐廳的12年期間，該餐廳連續四年獲得紐約時報的三星評價。曾經是個珠寶設計師，這位多才多藝的藝術家將極致風格與技藝應用到食物上，以獨特方式闡釋美國新美食。</p>
                        </dd>
                   </dl>
                   <dl class="flowdl clearfix">
                        <dt><img src="images/008.jpg" width="160" height="160" /></dt>
                        <dd>
                              <p class="fltitle">艾夫列·柏特利 Alfred Portale（美國，紐約）</p>
                              <p class="flcon">超越最嚴苛的美食評論家的期待，Alfred Portale集多項榮耀於一身。於1989年獲選入美國餐飲名人錄中，於1993年獲得紐約最佳主廚的名號，並稱之為「美國新美食界的先鋒」，Alfred Portale 持續開發令人一新耳目的菜色。在他主掌果膳（Gotham）餐廳的12年期間，該餐廳連續四年獲得紐約時報的三星評價。曾經是個珠寶設計師，這位多才多藝的藝術家將極致風格與技藝應用到食物上，以獨特方式闡釋美國新美食。</p>
                        </dd>
                   </dl>
                   <dl class="flowdl clearfix">
                        <dt><img src="images/008.jpg" width="160" height="160" /></dt>
                        <dd>
                              <p class="fltitle">艾夫列·柏特利 Alfred Portale（美國，紐約）</p>
                              <p class="flcon">超越最嚴苛的美食評論家的期待，Alfred Portale集多項榮耀於一身。於1989年獲選入美國餐飲名人錄中，於1993年獲得紐約最佳主廚的名號，並稱之為「美國新美食界的先鋒」，Alfred Portale 持續開發令人一新耳目的菜色。在他主掌果膳（Gotham）餐廳的12年期間，該餐廳連續四年獲得紐約時報的三星評價。曾經是個珠寶設計師，這位多才多藝的藝術家將極致風格與技藝應用到食物上，以獨特方式闡釋美國新美食。</p>
                        </dd>
                   </dl>
                   <dl class="flowdl clearfix">
                        <dt><img src="images/008.jpg" width="160" height="160" /></dt>
                        <dd>
                              <p class="fltitle">艾夫列·柏特利 Alfred Portale（美國，紐約）</p>
                              <p class="flcon">超越最嚴苛的美食評論家的期待，Alfred Portale集多項榮耀於一身。於1989年獲選入美國餐飲名人錄中，於1993年獲得紐約最佳主廚的名號，並稱之為「美國新美食界的先鋒」，Alfred Portale 持續開發令人一新耳目的菜色。在他主掌果膳（Gotham）餐廳的12年期間，該餐廳連續四年獲得紐約時報的三星評價。曾經是個珠寶設計師，這位多才多藝的藝術家將極致風格與技藝應用到食物上，以獨特方式闡釋美國新美食。</p>
                        </dd>
                   </dl>
              </div>
         </div>
     </div>
</div>
<div class="footer">
    <div class="maptop clickmap"><span>網站地圖</span></div>
    <div class="map clearfix">
         <dl class="mapdl clearfix">
            <dt>主頁</dt>
            <dd><a href="#">簡介</a></dd>
            <dd><a href="#">集團獎項</a></dd>
            <dd><a href="#">新聞稿</a></dd>
            <dd><a href="#">傳媒查詢</a></dd>
            <dd><a href="#">報導</a></dd>
            <dd><a href="#">社會責任</a></dd>
            <dd><a href="#">合作伙伴</a></dd>
         </dl>
         <dl class="mapdl clearfix">
            <dt>婚宴</dt>
            <dd><a href="#">簡介</a></dd>
            <dd><a href="#">場地實景</a></dd>
            <dd><a href="#">實景短片</a></dd>
            <dd><a href="#">場地圖則</a></dd>
            <dd><a href="#">婚宴套餐</a></dd>
            <dd><a href="#">証婚酒會套餐</a></dd>
            <dd><a href="#">自助西式套餐</a></dd>
            <dd><a href="#">場地位置</a></dd>
            <dd><a href="#">個人化服務</a></dd>
            <dd><a href="#">- 主題婚禮</a></dd>
            <dd><a href="#">- 雞尾酒會</a></dd>
            <dd><a href="#">- 婚禮策劃師簡介</a></dd>
            <dd><a href="#">- 婚禮策劃服務</a></dd>
            <dd><a href="#">最新消息</a></dd>
            <dd><a href="#">優惠通勝</a></dd>
            <dd><a href="#">星級禮遇</a></dd>
            <dd><a href="#">聯絡我們</a></dd>
         </dl>
         <dl class="mapdl clearfix">
            <dt>佳餚</dt>
            <dd><a href="#">簡介</a></dd>
            <dd><a href="#">獎項</a></dd>
            <dd><a href="#">廚司推介</a></dd>
            <dd><a href="#">場地實景</a></dd>
            <dd><a href="#">會員禮遇</a></dd>
            <dd><a href="#">大廚介紹</a></dd>
            <dd><a href="#">最新優惠</a></dd>
            <dd><a href="#">場地位置</a></dd>
         </dl>
         <dl class="mapdl clearfix">
            <dt>宴會</dt>
            <dd><a href="#">簡介</a></dd>
            <dd><a href="#">最新優惠</a></dd>
            <dd><a href="#">場地實景</a></dd>
            <dd><a href="#">場地圖則</a></dd>
            <dd><a href="#">會議設備</a></dd>
            <dd><a href="#">會議及宴會套餐</a></dd>
            <dd><a href="#">宴會策劃</a></dd>
            <dd><a href="#">場地位置</a></dd>
         </dl>
         <dl class="mapdl clearfix">
            <dt>推廣及活動</dt>
            <dd><a href="#">最新消息</a></dd>
            <dd><a href="#">最新優惠</a></dd>
            <dd><a href="#">活動回顧</a></dd>
            <br /><br /><br />
            <dt>優惠通勝</dt>
            <dd><a href="#">星級禮遇</a></dd>
         </dl>
         <dl class="mapdl clearfix">
            <dt>會員系統</dt>
            <dd><a href="#">登入</a></dd>
            <dd><a href="#">最新優惠</a></dd>
            <dd><a href="#">會員報名表</a></dd>
            <dd><a href="#">會員每月優惠</a></dd>
            <dd><a href="#">會員活動</a></dd>
            <dd><a href="#">廚商優惠</a></dd>
            <dd><a href="#">會員資訊分享</a></dd>
            <br /><br /><br />
            <dt>聯絡我們</dt>
            <dd><a href="#">客戶意見</a></dd>
         </dl>

    </div>
    <div class="bottom">
        <span class="tel"></span>
        <div class="bologo"></div>
        <div class="banquan">
             <p><a href="#">手機版網頁</a><a href="#">使用條款</a><a href="#">聯絡我們</a></p>
             <p>Copyright © 2013. ClueOne All Rights Reserved</p>
        </div>
    </div>
</div>
</body>
</html>
