<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="style/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/slides.min.jquery.js"></script>
<script type="text/javascript" src="js/lrtk.js"></script>
<script type="text/javascript" src="js/jq.js"></script>
</head>

<body>
<div class="top">
    <div class="logo"><a href="#"><img src="images/logo.gif" width="80" height="110" /></a></div>
    <div class="topright">
         <div class="login"><span class="denglu">登入電郵<input type="text" /></span><span class="mima">密碼<input type="text" /></span><a href="#" class="deng"></a><a href="#" class="ji"></a><span class="bo"><a href="#"><img src="images/f.gif" width="20" height="22" /></a><a href="#"><img src="images/x.gif" width="20" height="22" /></a><a href="#"><img src="images/s.gif" width="20" height="22" /></a></span></div>
         <div class="fack">
             <span class="good"></span>
             <span class="fac">838,219人說這讚。</span>
             <span class="luo"><a href="#">優惠通勝</a><a href="#">列印</a></span>
             <span class="search"><input type="text" /><a href="#"></a></span>
         </div>
    </div>
</div>
<div class="nav"> 
     <ul class="navul">
           <li class="xuan"><a href="#">主  頁</a></li>
           <li><a href="#">婚  宴</a></li>
           <li><a href="#">佳  餚</a></li>
           <li><a href="#">宴  會</a></li>
           <li><a href="#">推廣及活動</a></li>
           <li><a href="#">獎  項</a></li>
           <li><a href="#">會員專區</a></li>
           <li><a href="#">會員分享</a></li>
           <li><a href="#">聯絡我們</a></li>
     </ul>
     <div class="navdiv clearfix">
          <ul class="erji">
             <li><a href="#">集團獎項</a></li>
             <li><a href="#">新聞稿</a></li>
             <li><a href="#">傳媒查詢</a></li>
             <li><a href="#">報&nbsp;&nbsp;道</a></li>
             <li><a href="#">社會責任 </a></li>
          </ul>
         <ul class="erji">
             <li><a href="#">集團獎項</a></li>
             <li><a href="#">新聞稿</a></li>
             <li><a href="#">社會責任 </a></li>
          </ul>
          <ul class="erji">
             <li><a href="#">集團獎項</a></li>
             <li><a href="#">新聞稿</a></li>
          </ul>
                    <ul class="erji">
             <li><a href="#">集團獎項</a></li>
             <li><a href="#">新聞稿</a></li>
             <li><a href="#">傳媒查詢</a></li>
             <li><a href="#">報&nbsp;&nbsp;道</a></li>
             <li><a href="#">社會責任 </a></li>
          </ul>
         <ul class="erji">
             <li><a href="#">集團獎項</a></li>
             <li><a href="#">新聞稿</a></li>
             <li><a href="#">社會責任 </a></li>
          </ul>
          <ul class="erji">
             <li><a href="#">集團獎項</a></li>
             <li><a href="#">新聞稿</a></li>
          </ul>
          <ul class="erji">
             <li><a href="#">集團獎項</a></li>
             <li><a href="#">新聞稿</a></li>
             <li><a href="#">傳媒查詢</a></li>
             <li><a href="#">報&nbsp;&nbsp;道</a></li>
             <li><a href="#">社會責任 </a></li>
          </ul>
         <ul class="erji">
             <li><a href="#">集團獎項</a></li>
             <li><a href="#">新聞稿</a></li>
             <li><a href="#">社會責任 </a></li>
          </ul>
          <ul class="erji">
             <li><a href="#">集團獎項</a></li>
             <li><a href="#">新聞稿</a></li>
          </ul>
     </div>
</div>
<div class="note">
     <ul class="noteul">
          <li><a href="#">06/09/2012大舞臺蟬聯港島區最佳婚宴場地會所1號婚宴低至7折</a></li>
     </ul>
</div>
<div id="slides" class="focus">
    <div class="slides_container">
        <div>
            <a href="#" target="_blank"><img src="images/001.jpg" width="1000" height="430" /></a>
            <div class="caption" style="bottom:0">
                <p>Happy Bokeh Thursday!</p>
            </div>
        </div>
        <div>
            <a href="#" target="_blank"><img src="images/001.jpg" width="1000" height="430" /></a>
            <div class="caption" >
                <p>Happy Bokeh Thursday!</p>
            </div>
        </div>
        <div>
            <a href="#" target="_blank"><img src="images/001.jpg" width="1000" height="430" /></a>
            <div class="caption">
                <p>Happy Bokeh Thursday!</p>
            </div>
        </div>
      </div>
      <a href="javascript:;" class="prev"></a>
      <a href="javascript:;" class="next"></a>
</div>
<div class="main clearfix">
    <div class="chang">
         <div class="chatitle"><span class="clu"><a href="javascript:;" class="cpve"></a><a href="javascript:;" class="cnext"></a></span>旗下場所</div>
         <div class="chadiv">
              <ul class="chaul clearfix">
                   <li><a href="#"><img src="images/002.jpg" width="320" height="180" /></a></li>
                   <li><a href="#"><img src="images/002.jpg" width="320" height="180" /></a></li>
                   <li><a href="#"><img src="images/002.jpg" width="320" height="180" /></a></li>
                   <li><a href="#"><img src="images/002.jpg" width="320" height="180" /></a></li>
                   <li><a href="#"><img src="images/002.jpg" width="320" height="180" /></a></li>
                   <li><a href="#"><img src="images/002.jpg" width="320" height="180" /></a></li>
                </ul>
         </div>
         <div class="info">
            <h1 class="infoh1">ClubOne簡介</h1>
            <p class="infocon"> 擁有五個特色婚宴場地，分別為百年古蹟大舞臺、私人場所ClubONE（Kowloon East/Kowloon Peak）、博藝會及德馨會，位處香港及九龍中心地段，位置優越，適合舉辦各類中西式婚宴。專業的婚禮統籌團隊，加上完美婚宴配套及主題宴佈置，為各新人締造非凡婚宴。</p>
         </div>
    </div>
    <div class="charight">
     <div id="zSlider"  class="video">
            <div id="picshow" class="videopic">
                <div id="picshow_img" class="videoimg">
                    <ul>
                      <li><a href="#" target="_blank"><img src="images/1.jpg"></a></li>
                      <li><a href="#" target="_blank"><img src="images/2.jpg"></a></li>
                      <li><a href="#" target="_blank"><img src="images/3.jpg"></a></li>
                      <li><a href="#" target="_blank"><img src="images/4.jpg"></a></li>
                      <li><a href="#" target="_blank"><img src="images/5.jpg"></a></li>
                    </ul>
                </div>
            </div>
            <div id="select_btn" class="videosmall">
                <ul>
                  <li><a href="#" target="_blank"><img src="images/01.jpg"></a></li>
                  <li><a href="#" target="_blank"><img src="images/02.jpg"></a></li>
                  <li><a href="#" target="_blank"><img src="images/03.jpg"></a></li>
                  <li><a href="#" target="_blank"><img src="images/04.jpg"></a></li>
                  <li><a href="#" target="_blank"><img src="images/05.jpg"></a></li>
                </ul>
            </div>	
     </div>
     <div class="tabdiv">
          <ul class="tab">
               <li class="tabxuan"><a href="#">最新消息</a></li>
               <li><a href="#">最新優惠</a></li>
               <li><a href="#">活動回顧</a></li>
          </ul>
          <div class="hang">
              <ul class="tabcon">
                   <li><a href="#">[婚宴] 03/09/2012 2012酒席全年7折</a></li>
                   <li><a href="#">[婚宴] 03/09/2012 2012酒席全年7折</a></li>
                   <li><a href="#">[婚宴] 03/09/2012 2012酒席全年7折</a></li>
              </ul>
              <ul class="tabcon">
                   <li><a href="#">[婚宴] 03/09/2012 2012酒席全年7折</a></li>
                   <li><a href="#">[婚宴] 03/09/2012 2012酒席全年7折</a></li>
              </ul>
              <ul class="tabcon">
                   <li><a href="#">[婚宴] 03/09/2012 2012酒席全年7折</a></li>
              </ul>
          </div>
     </div>
         <div class="tabdiv">
              <ul class="tab gao">
                   <li class="tabxuan"><a href="#">新聞稿</a></li>
                   <li><a href="#">報    導</a></li>
                   <li><a href="#">傳媒查詢</a></li>
              </ul>
              <div class="gaodiv">
                  <ul class="tabcon">
                       <li><a href="#">[婚宴] 03/09/2012 2012酒席全年7折</a></li>
                       <li><a href="#">[婚宴] 03/09/2012 2012酒席全年7折</a></li>
                       <li><a href="#">[婚宴] 03/09/2012 2012酒席全年7折</a></li>
                  </ul>
                  <ul class="tabcon">
                       <li><a href="#">[婚宴] 03/09/2012 2012酒席全年7折</a></li>
                       <li><a href="#">[婚宴] 03/09/2012 2012酒席全年7折</a></li>
                  </ul>
                  <ul class="tabcon">
                       <li><a href="#">[婚宴] 03/09/2012 2012酒席全年7折</a></li>
                  </ul>
              </div>
          </div>
         <div class="Facebook">
              <ul class="Faceul">
                   <li><a href="#">Facebook</a></li>
              </ul>
              <p class="wed">12,219 people like <span>Club Wedding.</span></p>
              <ul class="facepic clearfix">
                   <li><a href="#"><img src="images/03.gif" width="50" height="50" />Cinox</a></li>
                   <li><a href="#"><img src="images/03.gif" width="50" height="50" />Cinox</a></li>
                   <li><a href="#"><img src="images/03.gif" width="50" height="50" />Cinox</a></li>
                   <li><a href="#"><img src="images/03.gif" width="50" height="50" />Cinox</a></li>
                   <li><a href="#"><img src="images/03.gif" width="50" height="50" />Cinox</a></li>
                   <li><a href="#"><img src="images/03.gif" width="50" height="50" />Cinox</a></li>
                   <li><a href="#"><img src="images/03.gif" width="50" height="50" />Cinox</a></li>
                   <li><a href="#"><img src="images/03.gif" width="50" height="50" />Cinox</a></li>
                   <li><a href="#"><img src="images/03.gif" width="50" height="50" />Cinox</a></li>
                   <li><a href="#"><img src="images/03.gif" width="50" height="50" />Cinox</a></li>
              </ul>
              <p class="plugin">Facebook social plugin</p>
         </div>
    </div>
</div>
<div class="footer">
    <div class="maptop"><span>網站地圖</span></div>
    <div class="map clearfix">
         <dl class="mapdl clearfix">
            <dt>主頁</dt>
            <dd><a href="#">簡介</a></dd>
            <dd><a href="#">集團獎項</a></dd>
            <dd><a href="#">新聞稿</a></dd>
            <dd><a href="#">傳媒查詢</a></dd>
            <dd><a href="#">報導</a></dd>
            <dd><a href="#">社會責任</a></dd>
            <dd><a href="#">合作伙伴</a></dd>
         </dl>
         <dl class="mapdl clearfix">
            <dt>婚宴</dt>
            <dd><a href="#">簡介</a></dd>
            <dd><a href="#">場地實景</a></dd>
            <dd><a href="#">實景短片</a></dd>
            <dd><a href="#">場地圖則</a></dd>
            <dd><a href="#">婚宴套餐</a></dd>
            <dd><a href="#">証婚酒會套餐</a></dd>
            <dd><a href="#">自助西式套餐</a></dd>
            <dd><a href="#">場地位置</a></dd>
            <dd><a href="#">個人化服務</a></dd>
            <dd><a href="#">- 主題婚禮</a></dd>
            <dd><a href="#">- 雞尾酒會</a></dd>
            <dd><a href="#">- 婚禮策劃師簡介</a></dd>
            <dd><a href="#">- 婚禮策劃服務</a></dd>
            <dd><a href="#">最新消息</a></dd>
            <dd><a href="#">優惠通勝</a></dd>
            <dd><a href="#">星級禮遇</a></dd>
            <dd><a href="#">聯絡我們</a></dd>
         </dl>
         <dl class="mapdl clearfix">
            <dt>佳餚</dt>
            <dd><a href="#">簡介</a></dd>
            <dd><a href="#">獎項</a></dd>
            <dd><a href="#">廚司推介</a></dd>
            <dd><a href="#">場地實景</a></dd>
            <dd><a href="#">會員禮遇</a></dd>
            <dd><a href="#">大廚介紹</a></dd>
            <dd><a href="#">最新優惠</a></dd>
            <dd><a href="#">場地位置</a></dd>
         </dl>
         <dl class="mapdl clearfix">
            <dt>宴會</dt>
            <dd><a href="#">簡介</a></dd>
            <dd><a href="#">最新優惠</a></dd>
            <dd><a href="#">場地實景</a></dd>
            <dd><a href="#">場地圖則</a></dd>
            <dd><a href="#">會議設備</a></dd>
            <dd><a href="#">會議及宴會套餐</a></dd>
            <dd><a href="#">宴會策劃</a></dd>
            <dd><a href="#">場地位置</a></dd>
         </dl>
         <dl class="mapdl clearfix">
            <dt>推廣及活動</dt>
            <dd><a href="#">最新消息</a></dd>
            <dd><a href="#">最新優惠</a></dd>
            <dd><a href="#">活動回顧</a></dd>
            <br /><br /><br />
            <dt>優惠通勝</dt>
            <dd><a href="#">星級禮遇</a></dd>
         </dl>
         <dl class="mapdl clearfix">
            <dt>會員系統</dt>
            <dd><a href="#">登入</a></dd>
            <dd><a href="#">最新優惠</a></dd>
            <dd><a href="#">會員報名表</a></dd>
            <dd><a href="#">會員每月優惠</a></dd>
            <dd><a href="#">會員活動</a></dd>
            <dd><a href="#">廚商優惠</a></dd>
            <dd><a href="#">會員資訊分享</a></dd>
            <br /><br /><br />
            <dt>聯絡我們</dt>
            <dd><a href="#">客戶意見</a></dd>
         </dl>

    </div>
    <div class="bottom">
        <span class="tel"></span>
        <div class="bologo"></div>
        <div class="banquan">
             <p><a href="#">手機版網頁</a><a href="#">使用條款</a><a href="#">聯絡我們</a></p>
             <p>Copyright © 2013. ClueOne All Rights Reserved</p>
        </div>
    </div>
</div>
</body>
</html>
